/* img {
    width: 25px; 
    margin: 10px;
    border-radius: 10px;
} */

/* .card-img {
    width: 35% !important;
} */

/* on hover of card */
.card :hover {
    /* width: 102% !important; */
    /* opacity: 70% !important; */
     filter: brightness(1.2) 

}

.card {
    width: 40%;
    display: inline-block;
    margin: 10px;
    left: 10%;
}

.transition1 {
    transition: transform .2s; /* Animation */
    transform: translate(-10px, 10px);
  }
  
  .transition1:hover {
    transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    filter: saturate(1);
  }