.Main {
  text-align: center;
  background-color: aqua;
}

p {
  text-align: center;
  font-size: 50px;
  font-family: 'Bangers', cursive !important;
}

html {
  font-family: 'Bangers', cursive !important;
}
