.Main {
  text-align: center;
  background-color: aqua;
}

p {
  text-align: center;
  font-size: 50px;
  font-family: Monserrat;
}

html {
  font-family: Montserrat;
}

.transition1 {
  transition: transform .2s; /* Animation */
}

.transition1:hover {
  transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  filter: saturate(2);
}

.green {
  color:#3b6552;
  background-color: #3b6552 !important;
}

.orange {
  color: #e3532f;
  background-color: #e3532f !important;
}

.white {
  background-color: #b6bbae !important;
}

.orange-text {
  color: #e3532f !important;
}

.collection a.collection-item {
  display: block;
  -webkit-transition: .25s;
  transition: .25s;
  color: #e3532f;
}

a {
  color:#e3532f;
}
a :hover {
  color:#b6bbae !important;
}

