.Main {
  text-align: center;
  background-color: aqua;
}

p {
  text-align: center;
  font-size: 50px;
  font-family: 'Bangers', cursive !important;
}

html {
  font-family: 'Bangers', cursive !important;
}

.transition1 {
  transition: transform .2s; /* Animation */
}

.transition1:hover {
  transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  filter: saturate(2);
}