.footer {
  min-height: 100px;
  position: relative;
  text-align: center;
  font-family: Montserrat;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
}
.footer-icons {
  font-size: xx-large;
  padding: 5px;
}

html {
  font-family: Montserrat;
}

a.hover {
  color:#b6bbae !important;
}