.footer {
  min-height: 100px;
  background: #3a3a3a;
  position: relative;
  text-align: center;
  font-family: 'Bangers', cursive !important;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  color: antiquewhite;
}
